<div class="auth-container">
  <div class="auth-box">
    <div class="auth-header">
      <h2>Quên mật khẩu</h2>
      <h4>Nhập tên đăng nhập để nhận liên kết đổi mật khẩu</h4>
    </div>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="auth-form">
      <div class="form-group" >
        <label for="username">Tên đăng nhập</label>
        <input 
        nz-input
          type="text"
          id="userName"
          formControlName="userName"
          placeholder="Nhập tên đăng nhập"
          
        />
        <div *ngIf="userName?.invalid && userName?.touched" class="text-error">
          Tên đăng nhập là bắt buộc
        </div>
      </div>

     

      <button
        type="submit"
        (onclick)="onSubmit()"
        [disabled]="!forgotForm.valid || isLoading"
        class="auth-button"
      >
        Xác nhận
      </button>
    </form>

    <div class="forgot-password">
      <a routerLink="/login">Đăng nhập</a>
    </div>
  </div>
</div>
<app-toast></app-toast>
<screen-loading *ngIf="isLoading"></screen-loading>
