<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Kết quả tạo công việc bằng AI"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzWidth="800px"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <div *ngIf="generatedProject">
      <div class="stats-container">
        <nz-tag nzColor="blue">Epics: {{ generatedProject.stats.epicCount }}</nz-tag>
        <nz-tag nzColor="purple">Stories: {{ generatedProject.stats.storyCount }}</nz-tag>
        <nz-tag nzColor="gold">Tasks: {{ generatedProject.stats.taskCount }}</nz-tag>
      </div>

      <nz-tree
        [nzData]="treeData"
        [nzTreeTemplate]="nzTreeTemplate"
        nzBlockNode
      ></nz-tree>

      <ng-template #nzTreeTemplate let-node>
        <div class="node-wrapper">
          <span class="node-icon">
            <i nz-icon [nzType]="getIconType(node.origin.nodeType)" [style.color]="getColor(node.origin.nodeType)"></i>
          </span>
          <span class="node-title">{{ node.title }}</span>
          <span class="node-assignee" *ngIf="node.origin.assigneeName">
            <nz-tag nzColor="green">{{ node.origin.assigneeName }}</nz-tag>
          </span>
        </div>
      </ng-template>
    </div>
    <div *ngIf="!generatedProject">
      <nz-spin nzTip="Đang tải dữ liệu..."></nz-spin>
    </div>
  </ng-container>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Đóng</button>
    <button nz-button nzType="primary" (click)="handleOk()">Xác nhận</button>
  </ng-template>
</nz-modal>