.notification-icon {
  position: relative;
  font-size: 24px;
  color: white;
  cursor: pointer;
  width: fit-content;
}

.notification-icon .badge {
  position: absolute;
  top: 0px;
  right: -8px;
  background: white;
  color: #f44336;
  border-radius: 50%;

  border: 1px solid #f44336;
  padding: 2px 1px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 18px;
  text-align: center;
}

.notification-container {
  width: 400px;
  max-height: 550px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  overflow-y: auto;
}
@media screen and (max-width: 767px) {
  .notification-container {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    padding:15px;
    top: 50px;
    right: 0;
    bottom: 0;
    border-radius: 0;
    position: fixed;
  }
}

/* iPad (768px - 1024px): giữ width nhưng cách top 20px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .notification-container {
    width: 400px;
    max-height: calc(100vh - 40px); /* trừ top 20 + margin dưới 20 */
    top: 60px;
    right: 20px;
    position: fixed;
  }
}
.activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: #ccc 1px solid;
}
.activity-header i {
  padding: 8px;
  border-radius: 5px;
}
.activity-header i:hover {
  color: white;
  background-color: var(--background-primary);
}
.activity-header h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.activity-header .icon {
  font-size: 20px;
  color: #666;
}
.icon-check-noti {
  font-size: 18px;
  margin-right: 20px;
}
.activity-date {
  font-size: 12px;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.ant-collapse-header-text .icon {
  width: 24px;
  height: 24px;
  background-color: #e6f0fa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.notification-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin: 5px 0px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: relative;
  border-radius: 3px;
}

.notification-item:hover {
  background-color: #f5f5f5;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text p {
  margin: 0;
  color: #333;
}
#tasktitle {
  margin: 0;
  font-weight: 600 !important;
  color: #333;
}
.text .time {
  font-size: 12px;
  color: #888;
  /* margin-top: 4px; */
  margin: 0;
}

.unread {
  background-color: #e6f7ff; /* nền xanh nhạt */
  border-left: 2px solid #1890ff; /* viền trái màu xanh dương */
  font-weight: 500;
}

/* --- */
::ng-deep .ant-collapse {
  background-color: unset;
  border: none;
}
::ng-deep .ant-collapse > .ant-collapse-item {
  border-bottom: none;
}

::ng-deep
  .ant-collapse
  > .ant-collapse-item.ant-collapse-no-arrow
  > .ant-collapse-header {
  padding: 12px 0 0 0;
}
::ng-deep .ant-collapse-content > .ant-collapse-content-box {
  padding: 5px 0px 0px 20px;
}

.task-badge {
  background: var(--background-primary);
  color: white;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 10px;
  font-weight: bold;
  margin-left: 8px;
}

.notification-item .text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notification-item .text > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
.badge--large {
  padding: 4px 5px;
  font-size: 11px;
}
