.container {
  margin: 20px 10px;
  height: calc(
    100vh - 100px
  ); /* Chiều cao bằng viewport height trừ đi margin và padding */
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.upload-btn {
  display: flex;
  align-items: center;
  width: 130px;
  gap: 8px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  transition: background-color 0.2s, border-color 0.2s;
}

.upload-btn:hover {
  background-color: #f5f5f5;
  border-color: #aaa;
}

.upload-btn i {
  font-size: 16px;
  color: #888;
}
