<div class="auth-container">
  <div class="auth-box">
    <div class="auth-header">
      <h2>Đặt lại mật khẩu</h2>
    </div>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="auth-form">
      <div class="form-group password-group">
        <label for="newPassword">Mật khẩu mới</label>
        <div class="input-wrapper">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            id="newPassword"
            formControlName="newPassword"
            placeholder="Nhập mật khẩu mới"
            class="auth-input"
            autocomplete="new-password"
          />
          <button
            type="button"
            class="toggle-password"
            (click)="passwordVisible = !passwordVisible"
            aria-label="Hiện/Ẩn mật khẩu"
          >
            <i
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              style="font-size: 20px; cursor: pointer;"
            ></i>
          </button>
        </div>

        <div *ngIf="newPassword?.invalid && newPassword?.touched" class="text-error">
          <div *ngIf="newPassword?.errors?.['required']">Mật khẩu là bắt buộc</div>
          <div *ngIf="newPassword?.errors?.['minlength']">
            Mật khẩu phải ít nhất
            {{ newPassword?.errors?.['minlength'].requiredLength }} ký tự.
            (Hiện tại bạn nhập
            {{ newPassword?.errors?.['minlength'].actualLength }} ký tự)
          </div>
        </div>
      </div>

     <button
        type="submit"
        (onclick)="onSubmit()"
        [disabled]="!resetForm.valid || isLoading"
        class="auth-button"
      >
        Xác nhận
      </button>
    </form>

    <div class="forgot-password">
      <a routerLink="/login">Đăng nhập</a>
    </div>
  </div>
</div>

<app-toast></app-toast>
<screen-loading *ngIf="isLoading"></screen-loading>
